####################################
# 포트 및 프로젝트 명칭 설정
####################################
server:
  port: 80                    # 포트 설정

spring:
  application:
    name: springboot-shop     # 프로젝트명 설정

  devtools:
    livereload:
      enabled: true           # 자동 리로드 설정
    restart:
      enabled: true           # 자동 재실행 설정
      preserve-session: true  # 세션 유지 설정

  thymeleaf:
    cache: false              # 캐쉬 없음

####################################
# 데이터베이스 설정
####################################
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/spring_shop?serverTimezone=UTC&useUnicode=true&characterEncoding=utf8&allowPublicKeyRetrieval=true&useSSL=false
    username: root
    password: 1234
  ####################################
  # JPA 설정
  ####################################
  jpa:
    open-in-view: true      #
    hibernate:
      ddl-auto: update      # create, update, ...
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy # 카멜표기를 스네이크 표기로 변환
    show-sql: true          # SQL 구문 보이기
    properties:
      hibernate:
        format_sql: true    # 포멧 처리해서 보이기
    #database-platform: org.hibernate.dialect.MySQL8Dialect  # MySQL8 버전 사용
    defer-datasource-initialization: true  # JPA가 데이터베이스를 초기화하기 전에 스키마와 데이터를 로드



  ####################################
  # Security User
  ####################################
  security:
    user:
      name: test@test.com
      password: 1111

  servlet:
    multipart:
      max-file-size: 20MB         # 파일 업로드 최대 크기
      max-request-size: 20MB      # 파일 업로드 최대 크기

####################################
# 파일 업로드 설정
####################################
itemImgLocation: D:/shop/item/    # 서버 내부에서 상품 이미지가 저장될 실제 디렉토리 경로(파일 저장 경로)
uploadPath: file:///D:/shop/      # 업로드된 파일에 접근할 수 있는 URL 경로를 설정(클라이언트가 파일 접근을 위한 URL 경로)

####################################
# 로그 정보 설정
####################################
logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace  # 물음표에 바인드 파라미터 출력
